<!-- <h1>Make your form here</h1> -->
<form action="/pirates" method="post">
  <label>Pirate</label>
    Pirate name: <input type="text" name="pirate[name]">
    Pirate weight: <input type="text" name="pirate[weight]">
    Pirate height: <input type="text" name="pirate[height]">
    <label name="">Name</label>
    <input name="pirate[ships][][name]"/></li>
    <label name="ship_type_1">Type</label>
    <input name="pirate[ships][][type]" />
    <label name="ship_booty_1">Booty</label>
    <input name="pirate[ships][][booty]" />
    <label name="ship_name_2">Name</label>
    <input name="pirate[ships][][name]"/></li>
    <label name="ship_type_2">Type</label>
    <input name="pirate[ships][][type]" />
    <label name="ship_booty_2">Booty</label>
    <input name="pirate[ships][][booty]" />
  <input type="submit">
</form>
