<!-- <h1>Make your form here</h1> -->
<form action="/pirates" method="post">
  <label>Pirate</label>
    Pirate name: <input type="text" name="pirate[name]">
    Pirate weight: <input type="text" name="pirate[weight]">
    Pirate height: <input type="text" name="pirate[height]">
    <label>Name</label>
    <input name="pirate[ships][][name]"/>
    <label>Type</label>
    <input name="pirate[ships][][type]" />
    <label>Booty</label>
    <input name="pirate[ships][][booty]" />
    <label>Name</label>
    <input name="pirate[ships][][name]"/>
    <label>Type</label>
    <input name="pirate[ships][][type]" />
    <label>Booty</label>
    <input name="pirate[ships][][booty]" />
  <input type="submit">
</form>
